.container {
  border: 1px solid grey;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  padding: 20px;
  border-radius: 10px;
  background-color: aquamarine;
}
